<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    <!-- Styles -->
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
  {% endblock %}
</head>
<body class="flex flex-col h-full lg:m-4 lg:bg-purple-darker">
<div id="app">
  {% block body %}{% endblock %}
</div>

{% block javascripts %}
  <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

</body>
</html>
